<header class="main-header">

        <div class="logo">
                <a href=" {{ '/' | relative_url }}" style="color: inherit;" title="Go to homepage" >Front-end Job Interview Questions</a> 
        </div>

     
          
        <nav class="menu" role="navigation" > 
            <button class="hamburger" aria-label="contents list Button" >
                <strong>Contents </strong> 
            </button>
            <button class="mb-hamburger" >
                    <img  src="{{ '/assets/hamburger_icon.svg.png' | relative_url }}">
              </button>
              <ul class="mb-content-list">
                    {% for question in site.data.question %}
                   <li> <a href="{{ question.link || relative_url }}">{{ question.title }}</a></li>
                {% endfor %}
                </ul>
        </nav>
    </header>