<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#db5945">
    <title>Documentation Theme</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.css">

    <style>
    .toc-list:nth-child(0){
        margin-top: 1rem;
    }
    .toc-list-item {
        font-size: 0.75rem;
        margin-bottom: 1rem;
    }

    .hamburger:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 1);
    }
    </style>
    <link rel="manifest" href="{{ 'manifest.json' || relative_url }}">
   
</head>

<body>


    {% include header.html %}


    <section class="main-container">
        <aside class="left-sidebar">
            <h3>Contents</h3>
            <nav class="js-toc toc-left sticky-nav relative z-1 transition--300 absolute pa4">

            </nav>
        </aside>
        <main>
            <article class="main-article">
                <div class="content js-toc-content pa4">

                    {{ content }}

                </div>
            </article>
        </main>
        <aside class="right-sidebar is-hidden">
            <h4>Table of Contents</h4>
            <ul id="hamburger" class="content-list">
                    {% for question in site.data.question %}
                    <li> <a href="{{ question.link || relative_url }}">{{ question.title }}</a></li>
                    {% endfor %}
            </ul>
        </aside>
    </section>



    <footer>

        Built by  <a target="_blank" href="https://github.com/Berc21"> Berkan Çetinkaya</a>

    </footer>

    <script async src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.min.js"></script>
    <script async src=" {{ '/bundle.js' | relative_url }}"></script>
    <script async >
    var hamburger = document.querySelector('.hamburger');

    hamburger.addEventListener("click", function(e) {

     document.querySelector("#hamburger li:first").focus();
});

    
    </script>
</body>



</html>